<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnLabelSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,39}</string>
                <key>spriteSourceSize</key>
                <string>{110,39}</string>
                <key>textureRect</key>
                <string>{{659,0},{110,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnLabelzj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,42}</string>
                <key>spriteSourceSize</key>
                <string>{111,42}</string>
                <key>textureRect</key>
                <string>{{561,640},{111,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Buycsj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{561,682},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HallFJewel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{632,411},{55,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HallFX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,56}</string>
                <key>spriteSourceSize</key>
                <string>{167,56}</string>
                <key>textureRect</key>
                <string>{{505,538},{167,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HallMoreBtn0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,45}</string>
                <key>textureRect</key>
                <string>{{632,466},{55,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HallMoreBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{609,682},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HallTX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,94}</string>
                <key>spriteSourceSize</key>
                <string>{321,94}</string>
                <key>textureRect</key>
                <string>{{411,411},{321,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnClub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,411}</string>
                <key>spriteSourceSize</key>
                <string>{336,411}</string>
                <key>textureRect</key>
                <string>{{0,416},{330,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCreateRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,411}</string>
                <key>spriteSourceSize</key>
                <string>{310,411}</string>
                <key>textureRect</key>
                <string>{{349,0},{310,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnJoinRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{349,416}</string>
                <key>spriteSourceSize</key>
                <string>{363,416}</string>
                <key>textureRect</key>
                <string>{{0,0},{349,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headWho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{561,538},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,30}</string>
                <key>spriteSourceSize</key>
                <string>{130,30}</string>
                <key>textureRect</key>
                <string>{{659,110},{130,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{505,411},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{698,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94ca0b6c6abbaf0cf5cf2480f4fbe7e5:a0ab02158c6b4e149b6b47fc90145501:5aec2f82430a9c16d2c03f4ae551aae0$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
