<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{90,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{900,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{990,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1080,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{0,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{90,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{180,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{270,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{360,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{450,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{540,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{180,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{630,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{720,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{810,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{900,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{990,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1080,120},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{0,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{90,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{180,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{270,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{270,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{360,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{450,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{540,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{630,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{720,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{810,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{900,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{990,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1080,240},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{0,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{360,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{90,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{180,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{270,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{360,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{450,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{540,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{630,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{720,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{810,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{900,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{450,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{990,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1080,360},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{0,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{90,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{180,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{270,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{360,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{450,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{540,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{630,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{540,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{720,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{810,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{900,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{990,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1080,480},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{630,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{720,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{810,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1170,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbaefe429f2c6e1ef2cf20176b1f3e5f:ecf1036c5e692d375bbcc7470f4db54b:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
